
@model IEnumerable<Language>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Услуги";
}

<div class="body-custom-customer">
    <img src="~/uslugi-text.png" width="100%">
    <br>
    <h3 class="big-text">Професионални преводи</h3>
    <p class="mid-text">
        Нашите опитни преводачи осигуряват прецизни и качествени преводи в най-различни области - юридически,
        медицински, технически и други. Гарантираме точност и конфиденциалност на всяко изречение.
    </p>
    <h3 class="big-text">Езици:</h3>

    <p class="mid-text">
        @for (int i = 0; i < @Model.Count(); i++)
        {
            @Model.ElementAt(i).Name
            @if (i < Model.Count() - 1)
            {
                <span>, </span>
            }
        }
    </p>

    <h3 class="big-text">Легализация и Нотариални Услуги</h3>
    <p class="mid-text">
        Специализираме се в легализацията на документи и предоставяме нотариални услуги. Нашите експерти ви
        помагат с всички правни формалности и улесняват процеса на легализация.
    </p>

    <h3 class="big-text">Консултации и Съвети</h3>
    <p class="mid-text">
        Нашите консултанти са тук, за да ви предоставят индивидуални съвети относно преводите и легализацията.
        С удоволствие ще ви насочим в правилната посока и ще отговорим на всички ваши въпроси.
    </p>

    <h3 class="big-text">Забележка:</h3>
    <p class="mid-text">
        Цената се определя въз основа на преведения текст, а не на текста първоизточник. 
        Една преводаческа страница е равна на 1800 знака с интервалите (по БДС). 
        При по-малко от 1800 символа, страницата се закръгля на една.
    </p>
    <p class="mid-text">
        Материалите за превод можете да донесете лично в нашия офис, да изпратите по имейл или с куриер.
    </p>
    <p class="mid-text">
        Превода можете да получите лично в нашия офис, също така можем да Ви изпратим готовия превод по имейл или куриер.
    </p>
</div>
          