@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "За нас";
    string name = "ММ-ДИМИТЪР МАРКОВ";
}


<div class="body-custom-customer">
    <img src="~/banner.png" width="100%">
    <br>
    <br>
    <img src="~/for-text.png" width="100%">
    <p class="mid-text">
        Основано през 1993 година, преводаческо бюро ММ - МАРИЯ МАРКОВА е първото преводаческо бюро в град Ямбол и едно от първите в страната, което предлага преводи, легализации и попълване на зелени карти. През 2023 година, фирмата се преименува на ММ - ДИМИТЪР МАРКОВ. Тази крачка бележи началото на нова ера за нашите клиенти и партньори. По-мотивирани от всякога, ние се стремим да надградим успеха на нашия предшественик и да предоставим още по-висококачествени езикови услуги, разширено портфолио и безупречно обслужване на нашите клиенти.
    </p>
    <p class="mid-text">В днешния глобален пазар е от ключово значение да се постигне ефективна комуникация. Вземайки това предвид, ние сме посветени да помогнем на нашите клиенти да преодолеят езиковите бариери. Независимо дали сте нов или съществуващ клиент, ние ви каним да се възползвате от нашите разширени предложения и да изпитате първокласното обслужване с което сме известни.</p>
    
    <img src="~/kakvopredlaga-text.png" width="100%">

    <p class="mid-text"><b>1. Широка гама от езикови услуги:
    Ние предлагаме пълен набор от езикови услуги, за да отговорим на вашите нужди.
    От писмени преводи до устни преводи, легализация и попълване на зелени карти.</b></p>

    <p class="mid-text"><b>2. Експертиза в множество индустрии: 
    Нашият екип обхваща широк спектър от опитни преводачи за всякакви 
    индустрии, включително финанси, медицина, технологии, маркетинг и много други. 
    Можете да разчитате на нас, че ще осигурим точни и подходящи преводи за вашите документи.</b></p>

    <p class="mid-text"><b>3. Бързо и ефективно изпълнение: Разбираме важността на спазването на 
    крайните срокове. Ето защо ние гарантираме, че всички проекти се изпълняват навреме. Ако 
    ваш документ се забави повече от необходимото време при нас, ние ще ви компенсираме.</b></p>

    <p class="mid-text"><b>4. Персонализирани решения: Ние вярваме, че всеки клиент има свои 
    собствени изисквания и предпочитания. Ето защо ние работим в тясно сътрудничество с вас, 
    за да разберем вашите специфични нужди и да създадем персонализирани решения, които отговарят на вашите очаквания.</b></p>

    <p class="mid-text"><b>5. Използване на най-съвременни инструменти и технологии: 
    За да осигурим оптимално качество и ефективност, ние използваме най-съвременните инструменти и технологии за превод. 
    Това ни позволява да произвеждаме висококачествени резултати, които отговарят на вашите стандарти.</b></p>

</div>