@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: url("/wwwroot/carbon_online.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}

body{
    background-color: #e91e63;
    color: white;
    margin: auto;
    width: 70%;
    min-width: 800px;
    max-width: 1500px;
    min-height: 100%;

}

.header{
	background-color: #24262b;
}
.header-col{
   width: 25%;
   text-align: center;
}
.header-col a{
    text-decoration: none;
	display: inline-block;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
    width: 100%;
}
.header-col a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.header-col-last{
    width: 25%;
    text-align: center;
 }
.header-col-last a{
    text-decoration: none;
	display: inline-block;
	background-color: #e91e63;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
    width: 100%;
}
.header-col-last a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.header-img {
    width:100%;
}

.iframe-bot {
    width:100%;
    min-height: 350px;
}



.table {
width: 100%;
}

.col-left {
	width: 20%;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}

.col-right {
	width: auto;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
}


::placeholder {
	color: white;
}

.input {
	background-color:#cfcfcfa7;
	
	border-color:white;
	border-style:solid;
	border-width: 2px;
	border-radius: 6px;

	padding-left: 5px;
	padding-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;

	width: 83%;
	height: 36px;

	outline: none;
	color:#24262b;
	font-size:18px;
	font-style: italic;
	
}

.upload {
	color: white;
}


.textarea {
	background-color:#cfcfcfa7;
	color: #666666;
	border-color:white;
	border-style:solid;
	border-width: 2px;
	border-radius: 6px;

	padding-left: 5px;
	padding-right: 5px;
	margin-top: 3px;
	margin-bottom: 3px;

	outline: none;
	color:#24262b;
	font-size:18px;
	font-style: italic;
	
	width: 83%;
	height: 160px;

	transition: all 0.15s;
	resize: vertical;
  }
  




.container {
    margin: 0 auto;
    padding: 1em;
}

.submit {
	padding: 15px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.submit-col {
	width: 50%;
	text-align: center;
	margin-left:  25%;
	
}

.submit-col a{
	text-decoration: none;
	display: inline-block;
	background-color: #505155;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
    width: 100%;
	border-color:white;
	border-style:solid;
	border-width: 2px;
	border-radius: 5px 15px 5px 15px;

	font-size: 26px;
}

.submit a:hover{
	color: #24262b;
	background-color: #ffffff;
}



.container-head {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 2px #000000de;
    margin: 0px;
}

.container-body{
    font-size: 1.2em;
    text-shadow: 2px 2px 2px #000000de;
    max-width: 100%;
    
}
.container-body-title{
    font-size: 2em;
    text-shadow: 2px 2px 2px #000000de;
    max-width: 100%;
}






.top-bot-margin{
    margin: 15px 0px;
}










.container-footer{
	max-width: 1400px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
 }
.footer-col-b{
   width: 100%;
   padding: 0 100px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col-b h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 123px;
}
.footer-col-b h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 68px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
#hover:hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}