*{
    font-family: sans-serif;
}

html{
    background-image: url("COPYRIGHT/test1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0px;
}

body{
    margin:auto;
    width: 70%;
    background-color: white;
}



.row{
	display: flex;
	flex-wrap: wrap;
}

.header{
	background-color: rgb(110, 187, 251);
}

.header-col{
   width: 25%;
   text-align: center;
}

.header-col a{
    text-decoration: none;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
    width: 100%;
}

.header-col-last{
    width: 25%;
    text-align: center;
    background-color: rgb(0, 119, 188);
 }

.header-col-last a{
    text-decoration: none;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
    width: 100%;
}

.header-col a:hover{
    color: rgb(0, 119, 188);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	background-color: rgb(255,255,255);
}

.header-col-last a:hover{
    color: rgb(0, 119, 188);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	background-color: rgb(255,255,255);
}



.header-img{
    margin: 0;
    width: 100%;
}




.container{
    margin: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
}

.container-head{
    color: rgb(0, 25, 40);
    margin: 0;
    text-align: center;
    font-size: 43px;
}

.container-body{
    color: rgb(0, 25, 40);
    margin: 0;
    margin-bottom: 5px;
    border:5px,solid;
}





.footer{
    background-color: rgb(0, 119, 188);
    color: white;
    padding: 20px 5%;
}

.footer-col{
    width: 25%;
    min-width: 240px;
    margin-bottom: 15px;
}

.footer-col-b{
    width: 100%;
}

.footer-col h4{
    color: white;
    margin: 0;
    font-size: 20px;
	font-weight: bold;
}

.footer-col-b h4{
    text-align: center;
    color: white;
    margin: 0;
    font-size: 20px;
	font-weight: bold;
}

.footer-col h5{
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 47, 76);
    color:rgb(0, 119, 188);
    margin: -4px 0px;
}

.footer-col-b h5{
    text-align: center;
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 47, 76);
    color:rgb(0, 119, 188);
    margin:0;
    margin-bottom: 5px;
}

.footer-col h6{
    text-decoration-line: line-through;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(0, 47, 76);
    color:rgb(0, 119, 188);
    margin: -3px 0px;
    margin-left: -25px;
}

.footer-col ul{
    margin: 0;
    
    padding-left: 25px;
}

.footer-col li{
    list-style: none;
    margin-left: -25px;
}

.footer-col a{
    color: white;
    text-decoration: none;
}

.iframe-bot{
    width:100%;
    min-height: 350px;
    max-height: 700px;
}

#hover:hover{
    transition: all 0.3s ease;
	padding-left: 8px;
}